:root {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('./img/lily-banse--YHSwy6uqvk-unsplash.jpg');
  background-size: cover;
  background-color: rgb(247, 216, 211);
}
